/* css styles */
body{
  margin: auto;
  color: #ECF0F1;
}

h1 {
  text-align: center;
     margin-bottom: 20px;
     color: #a68a64;
}

h2 {
  color: #b6ad90;
}

a {
  color:#ECF0F1;
  font-weight: bold;
}
a:hover {
  color: #bc4b51;
  text-decoration: none;
}

ul li {
  margin: -5px;
}

.right h4 { text-align: right;
            margin-top: -30px;
}

#block { margin-bottom: 5px;
           text-align: left;
           font-size: 20px;
}
.center {text-align: center}

.margin {margin-top: 80px}

.small_margin{margin-top: -40px}

.nav-link:hover{
  color: #b6ad90;
}

.navbar-brand:hover {
  color: #b6ad90;
}

.navbar-nav .nav-link.active{
  color: #a68a64;
}

.dropdown-item:hover{
  background-color: transparent;
  border: 0;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: #a28e5e;
  background-color: transparent;
}

.dropdown-item{
  background-color: #333533;
}

.navbar .dropdown-item{
  padding: .5rem .5rem;
}