/* css styles */
body{
  margin: auto;
}

website.title{
  font-family: san-serif;
  color = #ECF0F1;
}
h1 { text-align: center;
     margin-bottom: 20px;
     color: #a28e5e;
}
h2 { color: #647d5f}
u { text-decoration: underlined }
a {
  color:#ECF0F1;
}
a:hover {
  color: #a28e5e
}
ul li {
  margin: -5px;
}


.right h4 { text-align: right;
            margin-top: -30px;
}

.button {
  padding: 4px 4px;
  transition-duration: 0.3s;
  text-align: left;
  font-size: 10;
  display: inline-block;
  border: 1px solid black;
}

#block { margin-bottom: 5px;
           text-align: left;
           font-size: 20px;
}
.center {text-align: center}

.margin {margin-top: 80px}

.small_margin{margin-top: -40px}

.nav-link:hover{
  color: #a28e5e;
}
.btn btn-link{
  color: #647d5f;
}
.navbar-brand:hover {
  color: #a28e5e;
}

